
/* Custom CSS */
		.menu_logo {
			padding: 12px 0 10px 15px;
		}
		.about_content p {}
		.header_menu_table {
			height:80px;
		}
		.bg404 {
			background-image:url(../../../wp/fliper/wp-content/themes/fliper/img/bg_img.jpg);
		}
		::selection {
			background: #b83f3f;
		}
		::-moz-selection {
			background: #b83f3f;
		}
	
		.main_header nav ul.menu > li > a {
			line-height:80px;
		}
		.main_header .menu > li:hover > ul.sub-menu {
			top: 80px !important;
		}
		a {
			color:#ff8787;
		}
		a:hover {
			color:#adadad;
		}

    	/* Custom Fonts */
		h1, h1 a, h1 span,
		.postcomment,
		.comment-reply-title,
		.comment-reply-title small,
		.cancel-comment-reply-link {
			font-size:26px;
			line-height:28px;
		}
		h2, h2 a, h2 span {
			font-size:22px;
			line-height:24px;
		}
		h3, h3 a, h3 span {
			font-size:20px;
			line-height:22px;
		}
		h4, h4 a, h4 span {
			font-size:18px;
			line-height:20px;
		}
		h5, h5 a, h5 span {
			font-size:15px;
			line-height:17px;
		}
		h6, h6 a, h6 span, span.subtitle {
			font-size:12px;
			line-height:14px;
		}
		h1, h2, h3, h4, h5, h6,
		span.subtitle,
		h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
		h1 small, h2 small, h3 small, h4 small, h5 small, h6 small,
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
		.portfolio_columns_title h5 a:hover,
		.countdown-amount,
		.countdown-period {
			color:#ffffff;
			-moz-osx-font-smoothing:grayscale;
			-webkit-font-smoothing:antialiased;			
		}
		.page_title h1 {
			font-size:26px;
			line-height:26px;			
		}
		h1, h2, h3,
		h1 span, h2 span, h3 span,
		h1 small, h2 small, h3 small,
		h1 a, h2 a, h3 a,
		.countdown-amount,
		.countdown-period {
			font-weight:400;
		}
		h4, h5, h6,
		span.subtitle,
		h4 span, h5 span, h6 span,
		h4 small, h5 small, h6 small,
		h4 a, h5 a, h6 a {
			font-weight:300;
		}
		.page_title_wrapper,
		.bg_title.with_subtitle {
			border-left:3px solid #b83f3f;
		}
		.sub_heading {
			color:#ffffff;
		}
		.highlighted_colored {
			background:#b83f3f;
		}
		.dropcap.type2 {
			color:#b83f3f;
		}
		blockquote.q_dark .blockquote_wrapper,
		blockquote.q_dark p,
		blockquote .author {
			color:#717171;
		}
		blockquote.q_colored:before {
			color:#b83f3f;
		}
		
		.likes_and_share a {
			background:#b83f3f;
		}
		
		body {
			background:#000000;
		}	

		* {
			font-family:Roboto;		
		}	
		p, td, div {
			color:#adadad;
			font-size: 14px;
			font-weight:300;
			line-height:23px;
		}
		p {
			margin:0 0 23px 0		
		}
		table, th, td {
			border: #717171 1px solid;
		}
		.widget_calendar tfoot {
			border-color:#717171;
		}
		.right-sidebar-block,
		.left-sidebar-block {
			border-color:#1e1f24;
		}
		
		/* Header & Menus */
		header.main_header {
			background:#000000;
		}
		.main_header nav ul.menu > li:before {
			background:#2d2d2d;
		}
		.main_header nav ul.menu > li > a,
		ul.mobile_menu > li > a {
			color:#fff;
			font-size:12px;
		}

		.main_header nav ul.sub-menu > li,
		ul.mobile_menu ul.sub-menu > li {
			background:#000000;
		}
		ul.mobile_menu ul.sub-menu > li > a,
		ul.mobile_menu ul.sub-menu > li > a,
		.main_header nav ul.sub-menu > li > a,
		.main_header nav ul.sub-menu > li > a {
			color:#acacac;
			font-size:11px;
		}

		ul.mobile_menu > li.current-menu-ancestor > a,
		ul.mobile_menu > li.current-menu-item > a,
		ul.mobile_menu > li.current-menu-parent > a,
		ul.mobile_menu ul.sub-menu > li.current-menu-ancestor > a,
		ul.mobile_menu ul.sub-menu > li.current-menu-item > a,
		ul.mobile_menu ul.sub-menu > li.current-menu-parent > a,
		.main_header nav ul.menu > li > a:hover,
		.main_header nav ul.menu > li.current-menu-ancestor > a,
		.main_header nav ul.menu > li.current-menu-item > a,
		.main_header nav ul.menu > li.current-menu-parent > a {
			color:#ea6565;
		}
		
		ul.mobile_menu ul.sub-menu > li > a:before,
		.main_header nav ul.sub-menu > li > a:before {
			background:#2d2d2d;
		}
		.main_header nav ul.sub-menu > li > a:hover:before,
		.main_header nav ul.sub-menu > li.current-menu-ancestor > a:before,
		.main_header nav ul.sub-menu > li.current-menu-item > a:before,
		.main_header nav ul.sub-menu > li.current-menu-parent > a:before {		
			background:#ffffff;
		}
		.main_header nav ul.sub-menu > li.menu-item-has-children > a:after {
			color:#acacac;
		}
		.main_header nav ul.sub-menu > li.menu-item-has-children:hover > a:after,
		.main_header nav ul.sub-menu > li.current-menu-ancestor > a:after,
		.main_header nav ul.sub-menu > li.current-menu-item > a:after,
		.main_header nav ul.sub-menu > li.current-menu-parent > a:after {		
			color:#ffffff;
		}		
		.main_header nav ul.sub-menu > li:hover > a,
		.main_header nav ul.sub-menu > li.current-menu-ancestor > a,
		.main_header nav ul.sub-menu > li.current-menu-item > a,
		.main_header nav ul.sub-menu > li.current-menu-parent > a {
			background:#b83f3f;
			color:#ffffff;
		}
		.main_header nav ul.sub-menu li {
			border-top:1px solid #131313;
		}
		.main_header nav ul.sub-menu > li:first-child {
			border:none;
		}
		.main_header nav ul.menu > li > .sub-menu:before {
			border-bottom:#000000 5px solid;
		}
		.main_header nav ul.menu > li > .sub-menu > li:first-child:before {
			border-bottom:#b83f3f 5px solid;
		}
		.header_part.hb_html {
			color:#adadad;
			font-size: 14px;
			font-weight:300;
			line-height:23px;
		}
		footer.main_footer {
			background:#111113;
		}	
		.copyright {
			color:#adadad;
		}
		.footer_socials li a:hover {
			background:#b83f3f;
		}
		
		/* Forms */
		select,
		input[type="text"],
		input[type="email"],
		input[type="password"],
		textarea {
			background:#26272b;
			color:#ffffff;
		}
		input[type="text"]:-webkit-autofill ,
		input[type="email"]:-webkit-autofill ,
		input[type="password"]:-webkit-autofill {
			-webkit-box-shadow: 0 0 0px 1000px #26272b inset;
			-webkit-text-fill-color: #ffffff !important;			
		}

		input[type="text"]::-webkit-input-placeholder,
		input[type="email"]::-webkit-input-placeholder,
		input[type="password"]::-webkit-input-placeholder,
		textarea::-webkit-input-placeholder {
			color:#ffffff!important;
		}
		input[type="text"]::-moz-placeholder {
			color:#ffffff!important;
		}
		input[type="email"]::-moz-placeholder {
			color:#ffffff!important;
		}
		input[type="password"]::-moz-placeholder {
			color:#ffffff!important;
		}
		textarea::-moz-placeholder {
			color:#ffffff!important;
		}		
		
		.search_button {
			background:#b83f3f;
		}
		/* Templates */
		.fs_controls_append,
		.fs_title_wrapper_type2 {
			background:#000000;
		}
		.copyright,
		.strip-text,
		.fs_title_wrapper {
			border-left:3px solid #b83f3f
		}
		.fs_share_fadder {
			background:rgba(0,0,0, 0.75);
		}
		.fs_share_block .fs_share_block_wrapper a {
			background:#000000;
		}
		.fs_share_block .fs_share_block_wrapper a:hover {
			background:#b83f3f;
		}
		.gallery_fullscreen header.main_header {
			top:-80px;
		}		
		.strip-item .strip_fadder {
			background:rgba(0,0,0, 0);
		}
		.strip-item:hover .strip_fadder,
		.bg404:before,
		.fw_background.cs_background:before {
			background:rgba(0,0,0, 0.8);
		}
		@media only screen and (max-width: 760px) {
			.strip-item .strip_fadder {
				background:rgba(0,0,0, 0.8);
			}
		}
		.strip-title {
			color:#ffffff;
		}
		.strip-caption {
			color:#ffffff;
		}
		.flow_container li .flow_fadder {
			background:rgba(0,0,0, 1);
		}
		.flow_container li.currentStep .flow_fadder {
			background:rgba(0,0,0, 0);
		}
		.flow_container li.prevStep .flow_fadder,
		.flow_container li.nextStep .flow_fadder {
			background:rgba(0,0,0, 0.4);
		}
		.flow_container li.prevStep2 .flow_fadder,
		.flow_container li.nextStep2 .flow_fadder {
			background:rgba(0,0,0, 0.65);
		}
		.flow_reflection:before {
			background: -moz-linear-gradient(top,  rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		}
		
		.title404,
		.pp_title  {
			color:#ffffff;
		}
		.title404 span,
		.pp_title span {
			color:#b83f3f;
		}
		.text404,
		.pp_wrapper .pp_notify {
			color:#ffffff;
		}
		
		/* Widgets */
		.prefooter {
			background:#0b0b0d;
		}
		.sidepanel p,
		.sidepanel div,
		.sidepanel td {
			color:#adadad;
		}
		.widget_title {
			color:#d9d9d9;
		}
		.widget_search .widget_search_link_button {
			background:#b83f3f
		}
		.sidepanel a,
		.widget_calendar caption {
			color:#d9d9d9;
		}
		.sidepanel a:hover {
			color:#ff8787;
		}
		.widget_product_categories ul li,
		.widget_nav_menu ul li a,
		.widget_archive ul li,
		.widget_pages ul li a,
		.widget_recent_entries ul li,
		.widget_meta ul li,
		.widget_recent_comments ul li {
			border-bottom:1px solid #343539;
		}
		.widget_categories ul li {
			border-top:1px solid #343539;
		}
		.widget_product_categories ul li:before,
		.widget_nav_menu ul li a:before,
		.widget_archive ul li:before,
		.widget_pages ul li:before,
		.widget_categories ul li:before,
		.widget_recent_entries ul li:before,
		.widget_meta ul li:before,
		.widget_recent_comments ul li:before {
			background:#2d2d2d;
		}
		.widget_nav_menu ul li a:hover:before {
			background:#ff8787;
		}
		.widget_calendar table,
		.widget_calendar td,
		.widget_calendar th {
			border-color:#343539;
		}
		.widget_tag_cloud a:hover {
			background:#b83f3f;
		}
		
		/* Modules */
		.featured_item_fadder,
		.gallery_fadder {
			background:rgba(0,0,0, 0);
		}
		.img_block:hover .featured_item_fadder,
		.img_block:hover .gallery_fadder {
			background:rgba(0,0,0, 0.85);
		}
		.portfolio_columns_title h5,
		.featured_items_body h5,
		.team_title {
			border-left:3px solid #b83f3f;
		}
		.featured_items_category a {
			color:#adadad;
		}
		.featured_items_category a:hover {
			color:#b83f3f;
		}
		.featured_items_body h5 a:hover {
			color:#ffffff;
		}
		#dm_fullscreen {
			background:rgba(0,0,0, 0.9);
		}
		.promoblock_wrapper {
			border-left:3px solid #b83f3f;
		}

		.shortcode_button.btn_type5,
		.shortcode_button.btn_type1:hover,
		.shortcode_button.btn_type2:hover,
		.shortcode_button.btn_type3:hover {
			background: #b83f3f;
		}

		hr.type3 {
			border-color: #b83f3f;
		}
		.module_partners ul:before {
			background:#000000;
		}
		.module_partners ul li .item_wrapper a {
			background:rgba(0,0,0, 0);
		}
		.module_partners ul li .item_wrapper a:hover {
			background:rgba(0,0,0, 0.5);
		}
		
		ul.fliper_filter a,
		.load_more_works,
		.load_more_works:hover,
		.shortcode_messagebox .box_content,
		.shortcode_messagebox .box_content p {
			font-size:12px;
			line-height:14px;
			color:#ffffff;
			-moz-osx-font-smoothing:grayscale;
			-webkit-font-smoothing:antialiased;
		}		
		.price_item.most_popular .price_item_title {
			background:#b83f3f;
		}
		.price_item.most_popular .item_cost_wrapper h3,
		.price_item.most_popular .item_cost_wrapper h6 {
			color:#b83f3f;
		}
		.price_item .price_item_btn a.btn_type1:hover {
			background:#b83f3f;
		}
		
		/* Portfolio */
		.module_portfolio .pagerblock li a:hover,
		.fliper_filter a:hover {
			color:#ea6565;
		}
		.fliper_filter_wrapper .filter_ico,
		.fliper_filter_wrapper .filter_ico:before,
		.fliper_filter_wrapper .filter_ico:after {
			background:#ffffff;
		}
		.like_fullscreen_type .fliper_filter_block {
			background:#111113;
		}
		.like_fullscreen_type .filter_ico,
		.like_fullscreen_type .filter_ico:before,
		.like_fullscreen_type .filter_ico:after {
			background:#acacac;
		}
		.like_fullscreen_type .fliper_filter a {
			color:#acacac;
		}
		.like_fullscreen_type .fliper_filter li.selected a,
		.like_fullscreen_type .fliper_filter a:hover {
			color:#ea6565;
		}
		.portfolio_item_meta i,
		.portfolio_likes i,
		.portfolio_likes span {
			color:#ffffff;
		}
		.portfolio_grid_title h5 a:hover,
		.portfolio_columns_title .portfolio_likes:hover i,
		.portfolio_columns_title .portfolio_likes:hover span {
			color:#ff8787;
		}
		.portfolio_columns_title .portfolio_likes.photo_count:hover i,
		.portfolio_columns_title .portfolio_likes.photo_count:hover span {
			color:#ffffff;
		}
		
		.portfolio_control_bar {
			background:#000000;
		}
		.portfolio_item_wrapper .portfolio_item_fadder {
			background:rgba(0,0,0, 0);
		}
		.portfolio_item_wrapper:hover .portfolio_item_fadder {
			background:rgba(0,0,0, 0.85);
		}
		.portfolio_item_content .portfolio_content_wrapper {
			border-left:3px solid #b83f3f;
		}

		.single_meta .meta-item i {
			color:#ffffff;
			-moz-osx-font-smoothing:grayscale;
			-webkit-font-smoothing:antialiased;
			font-weight:300;		
		}
		.comment_meta a,
		.comment_meta,
		.comment_meta span,		
		.single_page .tags_area a,
		.single_meta .meta-item a,
		.single_meta .meta-item,
		.single_meta .meta-item span,
		.blog_item_wrapper .portfolio_grid_title .grid_block_meta .gb_meta_item {
			font-size:12px;
			line-height:14px;
			color:#ffffff;
			-moz-osx-font-smoothing:grayscale;
			-webkit-font-smoothing:antialiased;
			font-weight:300;
		}
		.comment_meta i,
		.blog_item_wrapper .portfolio_grid_title .grid_block_meta .gb_meta_comment i {
			color:#ffffff;
		}
		.single_meta .meta-item a:hover,
		.comment_meta a:hover {
			color:#ff8787;
		}
		.nivo-directionNav .nivo-prevNav:hover,
		.nivo-directionNav .nivo-nextNav:hover {
			background:#b83f3f;
		}
		.single_page .tags_area h6,
		.single_page .tags_area a {
			color:#717171;
		}
		.single_page .tags_area a:hover,
		.comment_form_subtitle a:hover {
			color:#ff8787;
		}
		input[type="submit"] {
			background:#b83f3f;
		}
		input[type="submit"]:hover {
			background:#26272b;
		}
		.hp_likes_and_share:before,
		.hp_likes_and_share,
		.hp_border_top,
		.hp_border_bottom {
			background:#000000;
		}
		.hp_border_top {
			height:147px;
		}
		.hp_content_wrapper {
			padding-top:147px;
		}
		.default_pager .pagerblock li a:hover,
		.module_blog .pagerblock li a:hover,
		.portfolio_control_wrapper .pagerblock li a:hover,
		.meta-item.gallery_likes_add:hover,
		.meta-item.gallery_likes_add:hover i,
		.meta-item.gallery_likes_add:hover span,
		.page_title a:hover,
		.page-link a:hover {
			color:#ff8787;
		}
		.featured_items_body h5 a:hover {
			color:#ff8787;
		}

		/* PRELOADER */
		.preloader:before,
		.preloader:after {
			background:#000000;
		}
		.preloader span {
			color:#adadad;
		}		
		.preloader_line {
			background:#191919;
		}	
		.preloader_line_bar1,
		.preloader_line_bar2 {
			background:#343539;
		}



















