/*-------------------------------------
[Responsive & Retina Stylesheet]
-------------------------------------*/
/* R E T I N A */
img.logo_def,.landing_logo {
	display:block;
}

img.logo_retina,.landing_logo_retina {
	display:none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),only screen and (min-resolution: 192dpi) {
	img.logo_def {
		display:none!important;
	}
	
	img.logo_retina {
		display:block!important;
	}
	
	.nivo-directionNav .nivo-prevNav:after,.nivo-directionNav .nivo-nextNav:after,.nivo-directionNav .nivo-prevNav:before,.nivo-directionNav .nivo-nextNav:before,.sprite_element:before,.sprite_element:after,.dm_ctrl_close,.beforeAfter_wrapper .result_line {
		background-image:url(../img/retina/fliper-sprite.png);
	}
	#swipebox-arrows a#swipebox-prev:before {
		background:url(../img/swipebox/icons_retina.png) no-repeat 0 0!important;
	}
	#swipebox-arrows a#swipebox-next:before {
		background:url(../img/swipebox/icons_retina.png) no-repeat -9px 0!important;
	}
	#swipebox-arrows a#swipebox-close:before {
		background:url(../img/swipebox/icons_retina.png) no-repeat -16px 0!important;
	}
	#swipebox-arrows a#swipebox-prev:before,
	#swipebox-arrows a#swipebox-next:before,
	#swipebox-arrows a#swipebox-close:before {
		background-size:28px 12px!important;
	}	
	
	.nivo-directionNav .nivo-prevNav:after,.nivo-directionNav .nivo-nextNav:after,.nivo-directionNav .nivo-prevNav:before,.nivo-directionNav .nivo-nextNav:before,.sprite_element:before,.sprite_element:after,.dm_ctrl_close,.beforeAfter_wrapper .result_line {
		background-size:288px 70px;
	}
}

/* R E S P O N S I V E */
@media only screen and (max-width: 1200px) {
	.fw_background iframe {
		left:0;
		top:0;
	}
	.dm_show #dm_dragMe {
		z-index:888;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1366px) {
	.mirror_container,.flow_reflection {
		height:70px;
	}
	
	.top_padding_block {
		height:80px;
	}
	
	.portfolio-listing .portfolio-listing-item {
		width:33.33%;
	}
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
	/* Ipad Land */
	.container {
		width:940px;
	}
	
	.portfolio-listing .portfolio-listing-item {
		width:33.33%;
	}
	
	.mirror_container,.flow_reflection {
		height:70px;
	}
	
	.top_padding_block {
		height:80px;
	}
	
	.dm_slider_next {
		right:50px;
	}
	
	.dm_slider_prev {
		left:50px;
	}
	
	.featured_items .item_list {
		margin:-30px 0 0 -30px;
	}
	
	.featured_items .item_list li {
		margin:30px 0 0;
	}
	
	.featured_items .item_list li .item {
		margin:0 0 0 30px;
	}
	
	.list-of-images {
		margin:-30px 0 0 -30px;
	}
	
	.list-of-images .gallery_item {
		margin:30px 0 0;
	}
	
	.list-of-images .gallery_item .gallery_item_padding {
		padding:0 0 0 30px;
	}
	
	.module_team .teamslider > ul {
		margin:-30px 0 0 -30px;
	}
	
	.module_team .teamslider > ul > li {
		padding:30px 0 0;
	}
	
	.module_team .teamslider > ul > li .item_wrapper {
		padding:0 0 0 30px;
	}
	
	.testimonials_list ul {
		margin:-24px 0 0 -30px;
	}
	
	.testimonials_list ul li .item {
		margin:27px 0 0 30px;
	}
	
	.module_diagramm ul.skills_list {
		margin:-45px 0 0 -30px;
	}
	
	.module_diagramm .skill_wrapper {
		margin:30px 0 0 30px;
	}
	
	#list {
		margin:-24px 0 0 -30px;
	}
	
	.portfolio_item .portfolio_item_block {
		padding:33px 0 0 30px;
	}
	
	.prefooter_wrapper {
		margin-left:-30px;
	}
	
	.footer_widget {
		padding-left:30px;
	}
	
	.subscribe_demo form input[type="email"] {
		width:135px;
	}
	
	/* H A L F   P A G E */
	.hp_featured_image {
		width:470px;
	}
	
	.hp_featured_image {
		position:fixed;
		left:50%;
		margin-left:-470px;
		background-position:center;
		background-size:cover;
	}
	
	.hp_border_bottom {
		position:fixed;
		left:0;
		bottom:0;
		width:100%;
		display:block;
		z-index:10;
		height:113px;
	}
	
	.hp_content_wrapper {
		padding:0 0 80px 500px;
		position:relative;
	}
	
	.hp_content {
		width:440px;
	}
	
	.hp_likes_and_share {
		margin-left:30px;
		width:440px;
	}
	
	.hp_likes_and_share:before {
		width:440px;
		margin-left:30px;
	}
	
	.hp_border_bottom {
		height:80px;
	}
	
	.hp_likes_and_share {
		bottom:80px;
	}
	
	.hp_likes_and_share:before {
		bottom:131px;
	}
	
	.right-sidebar-block,.left-sidebar-block {
		float:left;
		text-align:left;
		width:220px;
	}
	
	.left-sidebar-block {
		margin-right:20px;
		padding-right:19px;
	}
	
	.right-sidebar-block {
		margin-left:20px;
		padding-left:19px;
	}
	
	.fl-container.hasRS {
		float:left;
	}
	
	.fl-container.hasRS,.posts-block.hasLS {
		width:680px;
	}
	
	.mc_merge_var {
		width:145px;
	}
}

@media only screen and (min-width: 760px) and (max-width: 960px) {
	/* Ipad Port */
	.container {
		width:724px;
	}
	
	.portfolio-listing .portfolio-listing-item {
		width:50%;
	}
	
	.dm_slider_next {
		right:30px;
	}
	
	.dm_slider_prev {
		left:30px;
	}
	
	.module_team .teamslider > ul,.list-of-images,.featured_items .item_list {
		margin:-30px 0 0 -30px;
	}
	
	.list-of-images .gallery_item,.featured_items .item_list li {
		margin:30px 0 0;
	}
	
	.featured_items .item_list li .item {
		margin:0 0 0 30px;
	}
	
	.module_team .teamslider > ul > li .item_wrapper,.list-of-images .gallery_item .gallery_item_padding {
		padding:0 0 0 30px;
	}
	
	.module_team .teamslider > ul > li {
		padding:30px 0 0;
	}
	
	#list,.testimonials_list ul {
		margin:-24px 0 0 -30px;
	}
	
	.testimonials_list ul li .item {
		margin:27px 0 0 30px;
	}
	
	.module_diagramm ul.skills_list {
		margin:-45px 0 0 -30px;
	}
	
	.module_diagramm .skill_wrapper {
		margin:30px 0 0 30px;
	}
	
	.portfolio_item .portfolio_item_block {
		padding:33px 0 0 30px;
	}
	
	.prefooter_wrapper {
		margin-left:-30px;
	}
	
	.footer_widget {
		padding-left:30px;
	}
	
	.right-sidebar-block,.left-sidebar-block {
		float:none;
		text-align:left;
		width:724px;
	}
	
	.right-sidebar-block,.left-sidebar-block {
		border:none;
		border-top:1px solid;
		margin:30px 0 0;
		padding:40px 0 0;
	}
	
	.fl-container.hasRS {
		float:none;
	}
	
	.fl-container.hasRS,.posts-block.hasLS {
		width:724px;
	}
	
	.subscribe_demo form input[type="email"] {
		width:135px;
	}
	
	.admin-bar .fullscreen_header {
		top:46px;
	}
	
	.fw_grid_gallery .fw_grid_item {
		width:50%!important;
	}
	
	.footer_widget {
		width:50%;
		display:inline-block;
		vertical-align:top;
		float:none;
	}
	
	.subscribe_demo form input[type="email"] {
		width:270px;
	}
	
	.hp_featured_image {
		position:static;
		width:100%;
		height:500px!important;
		margin:0;
	}
	
	.hp_content_wrapper {
		position:static;
		width:100%;
		padding:50px 0 0!important;
	}
	
	.hp_border_top,.hp_border_bottom {
		display:none;
	}
	
	.demo_margin {
		padding-bottom:50px!important;
	}
	
	.hp_content {
		width:724px;
	}
	
	.main_wrapper {
		padding:50px 0;
	}
	
	.countdown-section {
		padding:0 30px;
	}
	
	.title404,.title404 span {
		text-transform:uppercase;
		font-size:60px;
		line-height:62px;
		font-weight:400;
		letter-spacing:4PX;
	}
	
	.strip-item {
		width:100%!important;
		float:none;
	}
	
	.single_type_list li {
		width:50%;
	}
}

/* MOBILE MENU */
.mobile_header_part {
	display:none;
}

@media only screen and (max-width: 960px) {
	.mobile_header_part {
		display:block;
		position:relative;
		overflow:hidden;
	}
	
	.mobile_header_part .menu_logo {
		display:block;
		float:left;
	}
	
	.header_first,.header_second,.header_third {
		display:none;
	}
	
	.mobile_menu_toggler {
		position:absolute;
		right:30px;
		top:50%;
		margin-top:-14px;
		height:27px;
		width:27px;
		z-index:99;
	}
	
	.mobile_menu_toggler .mmt_line1,.mobile_menu_toggler .mmt_line2,.mobile_menu_toggler .mmt_line3 {
		position:absolute;
		left:0;
		width:100%;
		height:2px;
		display:block;
		background:#ccc;
	}
	
	.mobile_menu_toggler .mmt_line1 {
		top:2px;
	}
	
	.mobile_menu_toggler .mmt_line2 {
		top:13px;
	}
	
	.mobile_menu_toggler .mmt_line3 {
		top:24px;
	}
	
	.mobile_menu_wrapper {
		text-align:center;
		padding-bottom:20px;
	}
	
	.mobile_menu_wrapper ul {
		padding:0;
		margin:-5px auto 0;
		text-align:left;
	}
	
	.mobile_menu_wrapper ul li ul {
		padding:10px 0 0 25px;
		margin:0;
	}
	
	.mobile_menu_wrapper ul li {
		position:relative;
		padding:7px 15px 8px 0;
		list-style:none;
		position:relative;
	}
	
	.mobile_menu_wrapper ul li a {
		padding:0 3px 0 0;
		display:inline-block;
		border-radius:0;
		background:none;
		transition:color 250ms;
		-webkit-transition:color 250ms;
		text-transform:uppercase;
		font-size:12px;
	}
	
	.mobile_menu_wrapper ul li:before {
		content:"";
		width:2px;
		height:2px;
		position:absolute;
		right:0;
		top:50%;
		margin-top:-2px;
		display:block;
		transition:background 300ms;
	}
	
	.mobile_menu_wrapper ul li {
		padding:0;
	}
	
	.mobile_menu_wrapper ul li a {
		display:block;
		padding:2px 15px 3px 0;
		position:relative;
	}
	
	.mobile_menu_wrapper ul li ul {
		padding:0 0 0 20px;
	}
}

@media only screen and (max-width: 960px) {
	/* Ipad Port + iPhone */
	
}

@media only screen and (max-width: 767px) {
    
    #instagram_module a {
		width: 25%;
	}

	#instagram_module.with_margin a {
		width: 33.3333%;
	}
    
}

@media only screen and (max-width: 760px) {
	/*Iphone*/
	#wpadminbar {
		top:-46px;
	}
	
	.admin-bar .fullscreen_header {
		top:0;
	}
	
	.fs_title_wrapper {
		left:10px;
		padding-left:10px;
		width:80%;
	}
	
	.container {
		width:100%;
		padding-left:10px;
		padding-right:10px;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	
	.portfolio-listing .portfolio-listing-item {
		width:100%;
	}
	
	.dm_slider_next {
		right:20px;
	}
	
	.dm_slider_prev {
		left:20px;
	}
	
	.module_team .teamslider > ul,.list-of-images,.featured_items .item_list {
		margin:-30px 0 0 -30px;
	}
	
	.list-of-images .gallery_item,.featured_items .item_list li {
		margin:30px 0 0;
	}
	
	.featured_items .item_list li .item {
		margin:0 0 0 30px;
	}
	
	.module_team .teamslider > ul > li .item_wrapper,.list-of-images .gallery_item .gallery_item_padding {
		padding:0 0 0 30px;
	}
	
	.module_team .teamslider > ul > li {
		padding:30px 0 0;
	}
	
	#list,.testimonials_list ul {
		margin:-24px 0 0 -30px;
	}
	
	.testimonials_list ul li .item {
		margin:27px 0 0 30px;
	}
	
	.module_diagramm ul.skills_list {
		margin:-45px 0 0 -30px;
	}
	
	.module_diagramm .skill_wrapper {
		margin:30px 0 0 30px;
	}
	
	.portfolio_item .portfolio_item_block {
		padding:33px 0 0 30px;
	}
	
	.prefooter_wrapper {
		margin-left:-30px;
	}
	
	.footer_widget {
		padding-left:30px;
	}
	
	.right-sidebar-block,.left-sidebar-block {
		float:none;
		text-align:left;
		width:100%;
	}
	
	.right-sidebar-block,.left-sidebar-block {
		border:none;
		border-top:1px solid;
		margin:30px 0 0;
		padding:40px 0 0;
	}
	
	.fl-container.hasRS {
		float:none;
	}
	
	.fl-container.hasRS,.posts-block.hasLS {
		width:100%;
	}
	
	.subscribe_demo form input[type="email"] {
		width:75%;
	}
	
	.subscribe_demo form input[type="submit"] {
		width:25%;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
	}
	
	.fw_grid_gallery .fw_grid_item {
		width:100%!important;
	}
	
	.footer_widget {
		width:100%;
		display:inline-block;
		vertical-align:top;
		float:none;
	}
	
	.subscribe_demo .your-email {
		width:70%;
	}
	
	.subscribe_demo form input[type="email"] {
		width:100%;
	}
	
	.hp_featured_image {
		position:static;
		width:100%;
		height:200px!important;
		margin:0;
	}
	
	.hp_content_wrapper {
		position:static;
		width:100%;
		padding:30px 0 0!important;
	}
	
	.hp_border_top,.hp_border_bottom {
		display:none;
	}
	
	.demo_margin {
		padding-bottom:50px!important;
	}
	
	.hp_content {
		width:100%;
	}
	
	.main_wrapper {
		padding:40px 0;
	}
	
	.main_wrapper.like_fullscreen_type {
		padding:0;
	}
	
	.title404,.title404 span {
		text-transform:uppercase;
		font-size:30px;
		line-height:32px;
		font-weight:400;
		letter-spacing:4PX;
	}
	
	.strip-item {
		width:100%!important;
		float:none;
	}
	
	.single_type_list li {
		width:100%;
	}
	
	.main_footer {
		text-align:center;
	}
	
	.main_footer_wrapper .copyright {
		float:none;
		display:inline-block;
		margin:0 auto;
	}
	
	.main_footer_wrapper .footer_socials {
		margin:0 auto;
		float:none;
		display:inline-block;
		padding:20px 0;
	}
	
	.mirror_container,.flow_reflection {
		height:50px;
	}
	
	.top_padding_block {
		height:100px;
	}
	
	.page_title_wrapper {
		padding-right:0;
		overflow:hidden;
	}
	
	.likes_and_share {
		position:static;
		float:right;
		transform:scale(0.75,0.75) translateY(9px);
	}
	
	.page_title_wrapper.no_subtitle .page_title {
		transform:none!important;
	}
	
	.fullscreen_header {
		position:relative;
	}
	
	.featured_items .item_list li,.list-of-images .gallery_item {
		width:100%!important;
	}
	
	.promoblock_wrapper .promo_button_block,.promoblock_wrapper .promo_text_block {
		width:100%;
		float:none;
		text-align:center;
	}
	
	.module_team .teamslider > ul > li {
		width:100%!important;
	}
	
	.module_partners ul li {
		width:50%!important;
	}
	
	.module_diagramm ul.skills_list li {
		width:100%!important;
	}
	
	.module_price_table {
		margin-top:-10px!important;
	}
	
	.price_table_wrapper .price_item {
		width:100%!important;
		margin-top:10px;
	}
	
	.shortcode_blockquote {
		width:100%!important;
		float:none;
		padding-right:0!important;
		margin-left:0!important;
	}
	
	.global_count_wrapper {
		width:100%;
		margin:0;
	}
	
	.countdown-amount {
		font-size:20px;
		line-height:22px;
	}
	
	.countdown-period {
		font-size:12px!important;
		line-height:14px!important;
	}
	
	.countdown-section {
		padding:0 5px;
	}
	
	.count_container {
		width:100%;
	}
	
	.notify_shortcode span.wpcf7-form-control-wrap,.notify_shortcode input[type="email"],.search_form.search404 .field_search {
		width:200px;
	}
	
	.count_title h1 {
		font-size:20px;
		line-height:22px;
	}
	
	.wrapper404 {
		margin:0;
		left:0;
		width:100%;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		padding:0 20px;
	}
	
	/*strip*/
	.strip-item {
		width:100%!important;
		float:none;
		display:block;
	}
	
	.strip-item .strip-text {
		left:auto;
		right:0;
		width:70%;
		padding:0 20px;
		opacity:1;
	}
	
	.strip-item .strip-text span {
		display:none;
	}
	
	.strip-item .strip-fadder {
		width:70%;
		left:auto;
		right:0;
	}
	
	.strip-menu {
		position:relative;
		padding:0;
		overflow:visible;
	}
	
	.strip-menu .strip-item .strip-text h2 {
		font-size:22px;
		line-height:24px;
	}
	
	.strip-menu .strip-item .strip-text h3 {
		font-size:14px;
		line-height:16px;
	}
	
	.strip-item a {
		display:block!important;
	}
	
	.strip-menu {
		top:0!important;
	}
	
	.strip-item .strip-text_wrapper {
		top:50%;
		opacity:1;
	}
	
	.columns2 .portfolio_item,.columns3 .portfolio_item,.columns4 .portfolio_item {
		width:100%;
	}
	
	.mobile_menu_wrapper {
		padding:0 20px;
	}
	
	.module_google_map iframe {
		height:200px;
	}
}

@media only screen and (min-width: 420px) and (max-width: 760px) {
	/*iPhone 6+*/
	.site_wrapper {
		padding:30px 20px;
	}
}

@media only screen and (min-width: 400px) and (max-width: 420px) {
	.site_wrapper {
		padding:30px 0;
	}
}


















