<h4>Version 1.2.1.1</h4>

<h5>Minor Fixes</h5>

<ul> 
  <li>Minor fix to LI2 imported instances tables fixing code;</li>
  <li>Minor fix to field definitions;</li>
</ul>

<h4>Version 1.2.1</h4>

<h5>New features</h5>
<ul>  
  <li>
    Adds the ability to fix tables from previous LI2 imported instances;
  </li>  
</ul>

<h5>Fixes and Improvements</h5>

<ul> 
  <li>Fixes to the LISE_LI2converter class. Imported instances should work without errors now;</li>
</ul>

<h4>Version 1.2</h4>

<h5>New features</h5>
<ul>
  <li>
    Added CustomFromUDT field definition: allows to create select/checkboxes/radio fields with multiple selection capability and validation from UDTs ;
  </li> 
  <li>
    Added Category filter to the default action: you can now show summaries of selected categories;
  </li>  
  <li>
    Added the possibility to pass parameters to field templates (for instance to handle summary and detail views differently);
  </li>    
  <li>
    New field definitions: BackendText, FEUDropdown, GalleryDropdown, GBFilePicker (with CMSMS 1.x only), JMFilePicker, LISEInstance, LISEInstanceItem;
  </li>  
</ul>

<h5>Fixes and Improvements</h5>

<ul> 
  <li><strong>#10706 -</strong> minor notice;</li>
  <li>Better handling of fielddef custom templates;</li>
  <li>Fixes to SearchResult;</li>
  <li>Fixes to DateTime fielddef mainly related to db storage and sorting;</li>
  <li>Added a lise_datetime_utils class to help with format conversions;</li>
  <li>CategoryQuery class supports category parameter now;</li>
  <li>Improved Tags sorting;</li>
  <li>
    CustomFromUDT: added the possibility to customize Admin Listing presentation via UDT;
  </li>
  <li>
    Fixes bug #10814 - Assets fail to load if SSL is enabled for Backend. (Thanks hexdj);
  </li>
  <li>
    Numerous fixes and improvements in fielddefs templates;
  </li>
  <li>
    Numerous minor bug fixes;
  </li>
  <li>
    Fixes to routes in CMSMS 2.x(thanks ajprog);
  </li>
  <li>
    Tags interfering with CMSMS backend menu; fixes regarding aliases; additional work on routes (thanks ajprog);
  </li>
  <li>
    Fixes to backend instances pagination (BR #10712) (Thanks Jeff Bosch [ajprog] and Greg Prosser [geepers]);
  </li>
  <li>
    Fixes BR #10904, (thanks Jeff Bosch [ajprog] and Eduardo Martinez [hexdj]);
  </li>
  <li>
    Fixes to LI2 imports and LISE instance cloner; Updating fixes old imports/clones bugs;
  </li>
</ul>

<h4>Version 1.1.0</h4>

<h5>New features</h5>
<ul>
  <li>LISE instances can now be set to be upgraded manually or automatically on a per instance setting in conjunction with a global setting on LISE main module;</li>
  <li>LISE main module can now be set to be upgraded manually (recommended) to avoid timing out during upgrades;</li>
  <li>LISE main module has to be installed manually to avoid timeouts during installation;</li>
  <li>Added the capability to define the instance <strong>Friendly Name</strong>, <strong>Module Admin Description</strong> and <strong>Module Admin Section</strong> on the <strong>Create Instance</strong> form;</li>
  <li>Added instance import, export and clone capability;</li>
  <li>Implemented <strong>FRs #10643 and #10646</strong>:
    <ul>
      <li><strong>#10643 -</strong> added a <strong>Tabs</strong> field definition (thanks to <strong>Albert Cansado</strong>);</li>
      <li><strong>#10646 -</strong> made total record count available as a Smarty variable (thanks to <strong>Chris Ciavarella [caciavar]</strong>);</li>
    </ul>
  </li>
</ul>

<h5>Fixes</h5>

<ul>
  <li>Fixes to the Tags functionality;</li>
  <li>Fixes related with new CMSMS 2.0.1 way of handling variable scopes and template objects;</li>
  <li>Some minor fixes;</li>
</ul>

<h4>Version 1.0.2</h4>
<ul>
  <li>Minor fixes including #10635.</li>
</ul>
<h4>Version 1.0.1</h4>
<ul>
  <li>Minor fixes including #10630.</li>
</ul>
<h4>Version 1.0.0</h4>
<ul>
  <li>1st public release.</li>
</ul>