{$formstart}

<div class="pageoverflow">
<p class="pagetext">{$textid}:</p>
<p class="pageinput">{$textidinput}</p>
</div>
<div class="pageoverflow">
<p class="pagetext">{$description}:</p>
<p class="pageinput">{$descriptioninput}</p>
</div>

<div class="pageoverflow">
<p class="pagetext">&nbsp;</p>
<p class="pageinput">{$submit} {if isset($backlink)}{$backlink}{/if}</p>
</div>
{$formend}

