{$formstartSettings}
	<div class="pageoverflow">
		<p class="pagetext">{$allowwysiwygtext}</p>
		<p class="pageinput">{$allowwysiwyginput}</p>
	</div>

	<div class="pageoverflow">
		<p class="pagetext">&nbsp;</p>
		<p class="pageinput">{$submitSettings}</p>
	</div>
{$formend}
